
<div class="row">
<div class="col-md-6 text-center">
<h3><a href="/addAnimal"><button type="submit" class="btn add btn-lg"> <p class="add-btn">ADD ANIMAL </p> </button></a> </h3>
</div>
<div class="col-md-6 location">
LOCATION: $sightings.getLocation()
</div>
<div class="col-sm">
</div>
</div>